body {
    color: black;
    background: orange;
    margin: 0px;
    font-family: "Limelight", sans-serif;
    margin-bottom: 50px;
}

header {
    border-bottom: solid 2px black; 
    padding: 10px;
    font-size: 25px;
    
}
.chamada {
    background: rgb(217, 150, 2, 1);
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
 }


 .chamada-texto {
    margin-right: 4%;
 }

 h1 {
    font-size: 30px;
 }

 p {
    font-size: 15px;
 }
 

 .categoria-videos{
   display: flex;
   overflow-x: auto;
   gap: 10px;
 }

.categoria {
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 20px;
 }

 .categoria-videos img {
 opacity: 0.9;
 height: 200px;
 }

 .categoria-videos img:hover {
   opacity: 1.0;
   border: 1px solid black;
 }