body {
    color: black;
    background: orange;
    margin: 0px;
    font-family: "Permanent Marker", cursive;
}

header {
    border-bottom: solid 2px black; 
    padding: 10px;
    font-size: 25px;
    
}
section {
    background: rgb(217, 150, 2, 1);
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
 }


 .chamada-texto {
    margin-right: 4%;
 }